* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: linear-gradient(black,gray);
    box-sizing: border-box;
}

h1 {
	color:lime;
	font-size: 70px;
	font-weight: 50;
	text-align: center;
	margin: 20px 50px; 
	font-family: 'Hind', sans-serif;
}

.title{
	color:lime;
	text-transform: uppercase;
	font-weight: 900;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 10px 15px;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 5px;
    transition: .5s;
    font-size: 20px;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color:lime;
    color:black;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
}

.add:hover{
	opacity: 1;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 35px;
}

.item{
	padding: 10px;
	border-bottom: 4px solid black;
	margin-bottom: 25px;
}

.item_input{
	background-color:white;
	outline: none;
	border: none;
	color:black;
	font-size: 25px;
	width: 245px;
}

.edit{
	background-color:white;
	outline: none;
	border-radius:30px;
	color:black;
	font-size: 25px;
	font-family: 'Hind', sans-serif;
	margin: 0 10px;
	cursor: pointer;
}

.remove{
	background-color:white;
	outline: none;
	border-radius:30px;
	color: red;
	font-size: 25px;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
}